<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.adhoc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <!--
IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.codepath.adhoc.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.codepath.adhoc.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    
    <uses-permission android:name="com.codepath.adhoc.permission.C2D_MESSAGE" />
    <application
        android:name="com.codepath.adhoc.application.ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_soccer_ball"
        android:label="@string/app_name"
        android:theme="@style/Theme.Base.AppCompat.Light.DarkActionBar" >
        <activity
            android:name="com.codepath.adhoc.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twitterapp"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.codepath.adhoc.activities.EventListActivity"
            android:label="@string/title_activity_event_list" >
        </activity>
        <activity
            android:name="com.codepath.adhoc.activities.EventDetailsActivity"
            android:label="@string/title_activity_event_details" >
        </activity>
        <activity
            android:name="com.codepath.adhoc.activities.CreateEventActivity"
            android:label="@string/title_activity_create_event" >
        </activity>
        <activity
            android:name="com.codepath.adhoc.activities.LocationActivity"
            android:label="@string/title_activity_location" >
        </activity>

        <!-- Facebook information -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
		<meta-data
     		android:name="com.google.android.maps.v2.API_KEY"
     		android:value="AIzaSyASn7zKQiYbGsxezFzGDCvEqh5TeO2R5YQ" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/login_button_fb" >
        </activity>

        <!-- For push notifications via Parse -->
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.codepath.adhoc" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.codepath.adhoc.fragments.CreateEventMapActivity"
            android:label="@string/title_activity_create_event_map" >
        </activity>
    </application>

</manifest>